.table{
  width: 100%;
  background-color: blue;
  padding: 15px;
}

.tableElement{
  background-color: grey;
  margin: 15px;
  font-size: 10px;
  font-weight: 400;
}

.container{
 padding:  15px; 
  background-color: lightgrey;
}
